{% extends 'base.html' %}
{% block content %}

        <div class="row mt-5 d-flex justify-content-center">

            <h2 class="text-center mb-5">Invoices List</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Customer</th>
                        <th scope="col">Waiter</th>
                        <th scope="col">Table</th>
                        <th scope="col">Order</th>
                        <th scope="col">Date</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in object_list %}
                        <tr class="text-center">

                            <td>{{ invoice.id_customer}}</td>
                            <td>{{ invoice.id_waiter }}</td>
                            <td>{{ invoice.id_table }}</td>
                            <td>{{ invoice.id_order }}</td>
                            <td>{{ invoice.date }}</td>
                            <td>{{ invoice.total }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
{% endblock %}
