{% extends 'base.html' %}
{% block Title  %} Customer Register {% endblock %}
{% block content %}

    <div class="my-5 pt-1">
        <h2 class="my-4 text-center">Customer Register</h2>
        <div class="d-flex justify-content-center mb-3">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="">

                    <div class="d-flex row justify-content-center ">

                        <div class="">
                        </div>
                    </div>
                    {{ form.as_p }}

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="mt-3">
                        {% for field in form.visible_fields %}
                            <div class="form-group">

                                {% for error in field.errors %}
                                    <span class="help-block" style="color:red">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}
