{% extends "base.html" %} {% block title %} Edit Customer
{% endblock %} {% block content %}


        <h2 class="text-center">Edit Customer</h2>

        <form method="post">
            {% csrf_token %} {% for field in form.visible_fields %}

            <div class="form-group">
                <div class="container">
                    <div class="col-6">
                        <label for="{{ field.id_for_label }}">{{ field.name }}</label>
                        {{ field }} {% for error in field.errors %}}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

            <div class="container">
                <div class="col-6">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <a href="{% url 'restaurantApp:home' %}" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </form>

{% endblock %}
