{% extends 'base.html' %}
{% block content %}

        <div class="row mt-5 d-flex justify-content-center">

            <h2 class="text-center mb-5">Waiter List</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Last Name 2</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for waiter in object_list %}
                        <tr class="text-center">

                            <td>{{ waiter.name }}</td>
                            <td>{{ waiter.last_name }}</td>
                            <td>{{ waiter.last_name_2 }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
{% endblock %}
