{% extends 'base.html' %}

{% block Title %}Home Market Pets{% endblock %}

{% block content %}

<div class="container py-5">
    <h3 class="text-center">
    Django Rest Framework
</h3>
</div>

{% endblock %}
