{% extends 'base.html' %}
{% block title %} Cancel Order {% endblock %}
{% block content %}'}

        <div class="d-flex justify-content-center">
            <form method="post" novalidate>
                {% csrf_token %}
                <h3>Are you sure you want to cancel Order ?</h3>

                <div class="text-center mt-4">
                    <input value="Confirm" type="submit" class="btn btn-success text-center"/>
                </div>
            </form>
        </div>


{% endblock content %}'}
