{% extends 'base.html' %}
{% block content %}

        <div class="row mt-5 d-flex justify-content-center">

            <h2 class="text-center mb-5">order List</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in object_list %}
                        <tr class="text-center">

                            <td>{{ order.id }}</td>
                            <td>{{ order.id_product }}</td>
                            <td>{{ order.quantity }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
{% endblock %}
