{% extends 'base.html' %}
{% block content %}

        <div class="row mt-5 d-flex justify-content-center">

            <h2 class="text-center mb-5">Table List</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Number Customers</th>
                        <th scope="col">Locations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for table in object_list %}
                        <tr class="text-center">

                            <td>{{ table.number_customers }}</td>
                            <td>{{ table.location }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
{% endblock %}
